# Google OAuth Client credentials
#
# To create credentials, follow these steps:
# 1. Go to the Google Cloud Console: https://console.cloud.google.com/
# 2. Create a new project or select an existing one.
# 3. Navigate to "APIs & Services" > "Active API services" and enable the "Google Drive API".
# 4. Navigate to https://console.cloud.google.com/auth/scopes and click in "Add or Remove scopes" and select scope "../auth/drive.file" and save.
# 5. Navigate to https://console.cloud.google.com/auth/clients and create OAuth 2.0 Client:
# Type 'Web Application' to get id and secret.
# Set Authorized Javascript origins to https://<your domain>
# Set Redirect Url Authorized to https://<your domain>/auth/google/callback
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx